/* reset */
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

html,
textarea, button {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* general */
.hidden {
    display: none;
}

/* app styles */
#my-list {
    height: 100vh;
    max-width: 640px;
    min-width: 480px;
    background-color: navajowhite   ;
}

/* plugin styles */
.todo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.todo-list {
    flex-grow: 1;
    overflow: hidden;
    margin: 0;
    padding: 0.5rem;
}

.todo-item,
.todo-footer {
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    background-color: rgb(160, 118, 54);
}

.todo-item.todo-item-done .todo-item-text {
    text-decoration: line-through;
}

.todo-item {
    background-color: rgba(0,0,0,0.1);
}
.todo-item:nth-child(odd) {
    background-color: rgba(0,0,0,0.2);
}

.todo-item-text {
    width: 300px;
}

.todo-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0.1rem 1rem;
}

.todo-item textarea,
.todo-footer textarea {
    height: 100px;
    flex-grow: 1;
}


textarea {
    border: 1px solid rgb(70, 70, 70)
}

.todo-item button,
.todo-footer button {
    height: 60px;
    margin-left: 0.5rem;
    width: 80px;
}

.todo-footer button {

}